@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700&display=swap");
*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif; }

.container {
  display: grid;
  width: 100vw;
  padding: 90px 1.5rem 2.5rem; }

.header {
  margin-bottom: 1.5rem;
  text-align: center; }
  .header__logo {
    margin-bottom: 1.8rem; }
    .header__logo--dot {
      color: #4f7df3; }
  .header__title {
    font-weight: 300;
    color: #969696;
    margin-bottom: 1rem; }
    .header__title strong {
      color: black; }
  .header__cta {
    font-size: .7rem; }

.footer {
  text-align: center; }
  .footer__link {
    cursor: pointer; }
  .footer__facebook {
    background: url("../images/facebook.svg") no-repeat center;
    background-size: 1rem;
    height: 1.5rem;
    width: 1rem;
    display: inline-block;
    border: solid 1px #c2d3ff;
    border-radius: 50%;
    padding: 1rem; }
  .footer__twitter {
    background: url("../images/twitter.svg") no-repeat center;
    background-size: 1rem;
    height: 1.5rem;
    width: 1rem;
    display: inline-block;
    border: solid 1px #c2d3ff;
    border-radius: 50%;
    padding: 1rem;
    margin-left: .5rem; }
  .footer__instagram {
    background: url("../images/instagram.svg") no-repeat center;
    background-size: 1rem;
    height: 1.5rem;
    width: 1rem;
    display: inline-block;
    border: solid 1px #c2d3ff;
    border-radius: 50%;
    padding: 1rem;
    margin-left: .5rem; }
  .footer__rights {
    font-size: .7rem;
    color: #969696; }
  .footer .mg-bottom {
    margin-bottom: 1.5rem; }

.form {
  text-align: center; }
  .form__label {
    display: none; }
  .form__email {
    border: 1px solid #c2d3ff;
    width: 80%;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: 1rem;
    outline: none;
    color: #4f7df3;
    font-size: .7rem;
    margin-bottom: .5rem; }
    .form__email:active {
      outline: none; }
    .form__email::placeholder {
      font-size: .65rem;
      color: #c2d3ff; }
  .form__error-text {
    display: none;
    height: 1rem;
    color: #ff5263;
    text-align: center;
    font-size: .5rem;
    font-style: italic;
    margin-bottom: .6rem; }
  .form__btn {
    width: 80%;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #4f7df3;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .8px;
    margin-bottom: 3.5rem;
    box-shadow: 0 0.3rem 0.4rem #c2d3ff;
    outline: none; }
    .form__btn:hover {
      background-color: rgba(79, 125, 243, 0.7); }
  .form .error-input {
    border-color: #ff5263; }

.main-img {
  background: url(../images/illustration-dashboard.png) no-repeat center;
  background-size: contain;
  height: 10rem;
  width: 100%;
  margin-bottom: 5.5rem; }

@media only screen and (min-width: 425px) {
  .form__error-text {
    font-size: .7rem; } }

@media only screen and (min-width: 768px) {
  .header__logo {
    font-size: 1.3rem; }
  .header__title {
    font-size: 1.7rem; }
    .header__title strong {
      font-size: inherit; }
  .header__cta {
    font-size: .85rem; }
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.7rem; }
    .form__email {
      width: 40%;
      min-height: 18%;
      order: 1;
      margin-right: .5rem;
      padding-top: .7rem;
      padding-bottom: .7rem; }
    .form__error-text {
      order: 3;
      flex-basis: 60%;
      text-align: start; }
    .form__btn {
      width: 25%;
      height: 18%;
      order: 2;
      margin-bottom: 0;
      padding-top: .7rem;
      padding-bottom: .7rem; }
  .main-img {
    height: 15rem;
    margin-bottom: 4rem; } }

@media only screen and (min-width: 1024px) {
  .form__email {
    width: 30%;
    margin-left: 2rem; }
  .form__error-text {
    flex-basis: 55%;
    margin-left: 7rem; }
  .form__btn {
    width: 18%; } }

@media only screen and (min-width: 1440px) {
  .form__email {
    width: 22%; }
  .form__error-text {
    margin-left: 18rem; }
  .form__btn {
    width: 11.5%; }
  .main-img {
    height: 17rem; } }
