// header styles 
.header {
  margin-bottom: 1.5rem;
  text-align: center;

  &__logo {
    margin-bottom: 1.8rem;

    &--dot {
      color: $blue;
    }
  }

  &__title {
    font-weight: $light-weight;
    color: $gray;
    margin-bottom: 1rem;
    
    strong {
      color: black;
    }
  }

  &__cta {
    font-size: .7rem;
  }

}